body
{
	background-color: #A0A0A0;
	font-family: sans-serif;
}

select
{
	width: 100%;
}


#tabbar
{
	padding-top: 10px;
}

.my_list
{
	margin-top: 5px;
}

li.heir_item
{
	white-space: nowrap;
}

a.heir_element
{
	color: black;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 3px;
}

.color-white
{
	background-color: #bababa;
}

.color-pink
{
	background-color: #e678e8;
}

.color-blue
{
	background-color: #64bbe0;
}

.color-yellow
{
	background-color: #dae060;
}

.color-green
{
	background-color: #63d886;
}

.form-group
{
	margin-bottom: 2px;
}

/*.padding10
{
	padding: 10px;
}

.tab
{
	border: solid 1px;
	background-color: #707070;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button_and_frame
{
	background-color: #A0A0A0;
	padding: 5px;
}

#heirarchy-list
{
	margin-top: 20px;
}

.heir-item
{
	background-color: #909090;
}

.table
{
	margin-top: 10px;
}*/